attempt-01/native/ordering-conversion-buffer.txt whitespace=-blank-at-eol
attempt-01/native/ordering-conversion-unsigned.txt whitespace=-blank-at-eol
attempt-01/native/ordering-conversion-utf8.txt whitespace=-blank-at-eol
