attempt-01/native/current-host-write-0-buffer.txt whitespace=-blank-at-eol
attempt-01/native/current-host-write-0-unsigned.txt whitespace=-blank-at-eol
attempt-01/native/current-host-write-0-utf8.txt whitespace=-blank-at-eol
attempt-02/native/current-host-write-0-buffer.txt whitespace=-blank-at-eol
attempt-02/native/current-host-write-0-unsigned.txt whitespace=-blank-at-eol
attempt-02/native/current-host-write-0-utf8.txt whitespace=-blank-at-eol
attempt-03/native/current-host-write-0-buffer.txt whitespace=-blank-at-eol
attempt-03/native/current-host-write-0-unsigned.txt whitespace=-blank-at-eol
attempt-03/native/current-host-write-0-utf8.txt whitespace=-blank-at-eol
